<nav class="pagination" aria-label="{{ aria_label }}">
  {% if page_obj.has_other_pages %}
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}" rel="prev">&laquo; Previous</a>
    {% endif %}

    <span class="current d-none d-md-inline">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" rel="next">Next &raquo;</a>
    {% endif %}
  {% endif %}
</nav>