{% extends "base.html" %}

{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'notes/css/notes.css' %}">
{% endblock %}


{% block content %}
<div class="app-layout">
  <nav class="secondary-nav" aria-label="Content navigation">
    <div class="secondary-nav-bar d-lg-none">
      {% block back_link %}{% endblock %}
      {% block offcanvas_trigger %}
        <button class="btn burger-btn" data-bs-toggle="offcanvas" data-bs-target="#appSidebar"
          aria-controls="appSidebar" aria-label="Open menu">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" aria-hidden="true" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
          </svg>
        </button>
      {% endblock %}
    </div>

    <div class="sidebar offcanvas-lg offcanvas-end" tabindex="-1" id="appSidebar">
      <div class="offcanvas-body">
        {% if sidebar_sources %}
          {% include "notes/partials/sidebar.html" %}
        {% endif %}
      </div>
    </div>
  </nav>

  <main class="app-content">
    {% block messages %}
      {% include "notes/partials/messages.html" %}
    {% endblock %}
    {% block app_content %}
    {% endblock %}
  </main>

</div>
{% endblock %}