{% extends 'notes/app_base.html' %}
{% load static %}

{% block back_link %}
  <a href="{% url 'notes:unit-detail' source.pk unit.pk %}" class="back-link">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left back-icon" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
    Back to <strong>{{unit|truncatechars:30}}</strong>
  </a>
{% endblock %}

{% block app_content %}
  <!-- Breadcrumbs -->
  <nav aria-label="breadcrumb" class="mb-2 breadcrumb">
    <ol class="breadcrumb-list">
      <li>
        <a href="{% url 'notes:source-detail' source.pk %}">{{ source.source_name }}</a>
      </li>
      <li>
        <a href="{% url 'notes:unit-detail' source.pk unit.pk %}"> {{ unit }}</a>
      </li>
    </ol>
  </nav>

  <section id="create-reference">
    <h1 class="heading">New reference note</h1>

    <div class="mt-4" id="create-reference-form">
      <form method="post" novalidate>
        {% csrf_token %}
        <!-- carries the next_url parameter to the POST branch of the view,
        necessary for nonvalidated submissions followed by cancel click -->
        <!-- default_if_none:'' prevents None being rendered as the literal
        string "None" when no next_url exists, which would otherwise
        produce an invalid Cancel URL (.../create/None) -->
        <input type="hidden" name="next" value="{{next_url|default_if_none:''}}">

        <!-- <div class="d-flex flex-column flex-lg-row gap-2"> -->
          <div class="form-field">
            <label for="{{ form.title.id_for_label }}" class="visually-hidden">title</label>
            {{ form.title }}
            {{ form.title.errors }}
          </div>
          <div class="form-field">
            <label for="{{ form.location.id_for_label }}" class="visually-hidden">location</label>
            {{ form.location }}
            {{ form.location.errors }}
          </div>
        <!-- </div> -->
        <div class="form-field">
          <label for="{{ form.content.id_for_label }}" class="visually-hidden">content</label>
          {{ form.content }}
          {{ form.content.errors }}
        </div>
        <button type="submit" class="btn btn-form m-2">Save</button>
        <!-- give fallback for edge cases where create reference url is typed directly into address bar -->
        {%if next_url %}
        <a href="{{next_url}}" class="btn btn-form btn-form--cancel" type="button">Cancel</a>
        {% else %}
        <a href="{% url 'notes:unit-detail' source.pk unit.pk %}" class="btn btn-form btn-form--cancel" type="button">Cancel</a>
        {% endif %}
      </form>
    </div>
  </section>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'notes/js/notes.js' %}"></script>
{% endblock %}