{% extends 'notes/app_base.html' %}
{% load static %}

{% block back_link %}
  <a href="{% url 'unit-detail' source.pk unit.pk %}" class="back-link">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left back-icon" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
    Back to <strong>{{unit|truncatechars:30}}</strong>
  </a>
{% endblock %}

{% block app_content %}
  <!-- Breadcrumbs -->
  <nav aria-label="breadcrumb" class="mb-2 breadcrumb">
    <ol class="breadcrumb-list">
      <li>
        <a href="{% url 'source-detail' source.pk %}">{{ source.source_name }}</a>
      </li>
      <li>
        <a href="{% url 'unit-detail' source.pk unit.pk %}"> {{ unit }}</a>
      </li>
      {% if reference %}
        <li>
          <a href="{% url 'reference-detail' source.pk unit.pk reference.pk %}">{{ reference.title|default:"Untitled" }}</a>
        </li>
        {% if question %}
        <li>
          <a href="{% url 'question-detail' source.pk unit.pk question.pk}">{{question.title|default:"Untitled" }}</a>
        </li>
        {% endif %}
      {% endif %}
    </ol>
  </nav>

  <section id="create-mywords">
    <h1 class="heading">New my words note</h1>

    {% if reference %}
    <!-- Reference collapsed -->
      <div class="mb-3 mt-lg-5 mt-5">
          <button class="btn btn-form d-flex align-items-center gap-1"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#reference-context"
                  aria-expanded="false"
                  aria-controls="reference-context">
              Reference
          </button>
          <div class="collapse" id="reference-context">
              <div class="mt-2 p-3 linked-notes">
                  <p class="fw-bold mb-1">{{ reference.title|default:"Untitled reference" }}</p>
                  <p class="mb-0">{{ reference.content }}</p>
              </div>
          </div>
      </div>
      {% endif %}

      {% if question %}
      <!-- Question collapsed-->
       <div class="mb-3 mt-lg-2 mt-2">
          <button class="btn btn-form d-flex align-items-center gap-1"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#question-context"
                  aria-expanded="false"
                  aria-controls="question-context">
              Question
          </button>
          <div class="collapse" id="question-context">
              <div class="mt-2 p-3 linked-notes">
                  <p class="fw-bold mb-1">{{ question.title|default:"Untitled question" }}</p>
                  <p class="mb-0">{{ question.content }}</p>
              </div>
          </div>
      </div>
      {% endif %}

    <div class="mt-5" id="create-mywords-form">
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next_url|default_if_none:''}}">
        <div class="form-field">
          <label for="{{ form.title.id_for_label }}" class="visually-hidden">title</label>
          {{ form.title }}
          {{ form.title.errors }}
        </div>
        <div class="form-field">
          <label for="{{ form.content.id_for_label }}" class="visually-hidden">content</label>
          {{ form.content }}
          {{ form.content.errors }}
        </div>
        <button type="submit" class="btn btn-form m-2">Save</button>
        {%if next_url %}
          <a href="{{next_url}}" class="btn btn-form btn-form--cancel" type="button">Cancel</a>
        {% else %}
          <a href="{% url 'unit-detail' source.pk unit.pk %}" class="btn btn-form btn-form--cancel" type="button">Cancel</a>
        {% endif %}
      </form>
    </div>
  </section>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'notes/js/notes.js' %}"></script>
{% endblock %}