{% extends "notes/app_base.html" %}
{% load static %}

{% block offcanvas_trigger %}{% endblock %}

{% block app_content %}
  <h1 class="heading">My Sources</h1>

  <!-- Create Source -->
    <section>
      <h2 class="visually-hidden">Add Source</h2>
      <div class="mt-5">
        <button class="btn-form"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#create-source-form"
          aria-expanded="false"
          aria-controls="create-source-form">
          Add source
        </button>

        <!-- Add Source form -->
        <div class="collapse expand-on-error {% if add_source_open %}show{% endif %}" id="create-source-form">
          <form method="post" novalidate>
            {% csrf_token %}
            <div class="form-field mt-4">
              <label for="{{ form.source_name.id_for_label }}" class="visually-hidden">name</label>
              {{ form.source_name }}
              {{ form.source_name.errors }}
            </div>
            <div class="form-field">
              <label for="{{ form.source_author.id_for_label }}" class="visually-hidden">author</label>
              {{ form.source_author }}
              {{ form.source_author.errors }}
            </div>
            <div class="form-field">
              <label for="{{ form.source_type.id_for_label }}" class="visually-hidden">type</label>
              {{ form.source_type }}
              {{ form.source_type.errors }}
            </div>
            <button type="submit" class="btn btn-form me-2">Save</button>
            <button class="btn btn-form btn-form--cancel"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#create-source-form"
              data-action="cancel-form"
              aria-expanded="false"
              aria-controls="create-source-form">
              Cancel
            </button>
          </form>
        </div>
      </div>
    </section>

    <!-- Sources List -->
    <section>
      <h2 class="visually-hidden">Sources List</h2>
      <ul class="list mt-3">
        {% for source in page_obj %}
          <li class="custom-list-item">
            <a href="{% url 'notes:source-detail' source.pk %}">
              <span class="source-name">{{ source.source_name}}</span>
              {% if source.source_author %}
                <span>by {{source.source_author}}</span>
              {% endif %}
              <span class="ms-lg-3 badge"> {{ source.get_source_type_display }}</span>
              <span class="d-none d-md-inline ms-3 source-date"> {{ source.source_creation_date|date:"d M Y" }}
              </span>
            </a>
          </li>
        {% empty %}
          <li class="empty">No sources yet.<br>
            A source is the book, course, or podcast you're learning from. Add one to start organizing your notes.</li>
        {% endfor %}
      </ul>

      <!-- Paginator -->
      {% include 'notes/partials/pagination.html' with aria_label="Source list pagination" %}
    </section>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'notes/js/notes.js' %}"></script>
{% endblock %}