{% extends "notes/app_base.html" %}
{% load static %}

{% block title %}got it? | Question{% endblock %}

{% block back_link %}
  <a href="{% url 'unit-detail' source.pk unit.pk%}#questions" class="back-link">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left back-icon" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
    Back to question notes
  </a>
{% endblock %}

{% block app_content %}
<!-- Delete Modal -->
  <div class="modal fade" id="delete-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete question note?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <p>This action will permanently delete {% if reference.title %}
            <strong>{{question.title}}</strong>{% else %} this question note {% endif %} of {{unit.unit_name}}.</p>
          <p>Are you sure you want to continue?</p>
        </div>
        <div class="modal-footer">
          <form method="POST" action="{% url 'delete-question' source.pk unit.pk question.pk %}">
            {% csrf_token %}
            <button type="button" class="btn btn-md btn-form" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-md btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- Breadcrumbs -->
  <nav aria-label="breadcrumb" class="mb-2 breadcrumb">
    <ol class="breadcrumb-list">
      <li>
        <a href="{% url 'source-detail' source.pk %}">{{ source.source_name }}</a>
      </li>
       <li>
        <a href="{% url 'unit-detail' source.pk unit.pk %}#questions"> {{ unit }} # Questions </a>
      </li>
    </ol>
  </nav>

  <section id="question-detail">
    <div class="span-wrapper d-flex gap-2">
      <h1 class="heading">{{ question.title|default:"Untitled" }}</h1>
      {% url 'edit-question' source.pk unit.pk question.pk as edit_url %}
      {% url 'question-detail' source.pk unit.pk question.pk as cancel_url %}
      {% include 'notes/partials/actions_menu.html' with edit_url=edit_url cancel_url=cancel_url %}
    </div>
    <p class="mt-4 mt-lg-5">{{ question.content }}</p>
  </section>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'notes/js/notes.js' %}"></script>
{% endblock %}
