{% extends "notes/app_base.html" %}
{% load static %}

{% block title %}got it? | Reference{% endblock %}

{% block back_link %}
  <a href="{% url 'unit-detail' source.pk unit.pk%}#reference" class="back-link">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left back-icon" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
    Back to reference notes
  </a>
{% endblock %}

{% block app_content %}

<!-- Breadcrumbs -->
  <nav aria-label="breadcrumb" class="mb-2 breadcrumb">
    <ol class="breadcrumb-list">
      <li>
        <a href="{% url 'source-detail' source.pk %}">{{ source.source_name }}</a>
      </li>
       <li>
        <a href="{% url 'unit-detail' source.pk unit.pk %}#reference"> {{ unit }} # Reference </a>
      </li>
    </ol>
  </nav>

  <section id="reference-detail">
    <div class="d-flex flex-column flex-lg-row gap-4">
      <h1 class="heading">{{ reference.title|default:"Untitled" }}</h1>
      {% if reference.location %}
        <a href="{{ reference.location }}" class="badge location"
          {% if reference.location|slice:":4" == "http" %}target="_blank" rel="noopener noreferrer"{% endif %}>
          {{ reference.location }}
        </a>
      {% endif %}
    </div>
    <p class="mt-4 mt-lg-5">{{ reference.content }}</p>
  </section>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'notes/js/notes.js' %}"></script>
{% endblock %}