{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="got it? - a note-taking app for active learning: capture a source,
                                      restate it in your own words, or turn it into a question to sit with.">
  <title>{% block head_title %}got it?{% endblock %}</title>

  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

  <!-- Bootstrap css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block extra_css %}{% endblock %}
</head>
<body>
  <!-- Understanding request.user.is_authenticated, given to me by Claude AI:-->
  <!-- request is an instance of the HttpRequest class, an object that Django creates every time a page is requested -->
  <!-- user is a property of the HttpRequest object, set by Django's authentication middleware:
      django.contrib.auth.middleware.AuthenticationMiddleware
      It returns the current User instance if logged in, or an AnonymousUser instance if not -->
  <!-- is_authenticated is a property of the AbstractBaseUser, inherited by the User model, and returns a boolean
  request.user translates into:  the particular user that made that particulat request
  request.user.is_authenticated translates into: is the particular user who made this particular request authenticated? -->

  <!-- Header -->
  <header class="sticky-top">
    <!-- Navigation -->
    <nav class="navbar">
      <div class="container-fluid" aria-label="Main navigation">
        <!-- Logo on the left -->
        <a  class="navbar-brand me-auto" href="{% url 'pages:home' %}">
          <img src="{% static 'images/got-it-logo2.svg' %}" alt="got it? logo" class="logo">
        </a>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="{% url 'pages:home'%}">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="var(--nav-green)" role="img" class="bi bi-house d-lg-none" aria-label="Home" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
              </svg>
              <span class="d-none d-lg-inline">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="{% url 'pages:how-it-works' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="var(--nav-green)" role="img" class="bi bi-question-circle d-lg-none"  aria-label="How it works" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                </svg>
              <span class="d-none d-lg-inline">How it works</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="var(--nav-green)" role="img" class="bi bi-chat-square-text d-lg-none" aria-label="Give feedback" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
              </svg>
              <span class="d-none d-lg-inline">Give feedback</span>
            </a>
          </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link ms-lg-2" href="{% url 'notes:dashboard' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="var(--nav-green)" role="img" class="bi bi-grid d-lg-none" aria-label="Dashboard" viewBox="0 0 16 16">
                      <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z"/>
                    </svg>
                    <span class="d-none d-lg-inline">
                    Dashboard
                    </span>
                  </a>
                </li>
                  <form method="POST" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                      <button class="btn btn-link nav-link px-2 mx-lg-3" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="var(--nav-green)" role="img" class="bi bi-box-arrow-left d-lg-none" aria-label="Log out" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                          <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                        </svg>
                     <span class="d-none d-lg-inline">Log out</span>
                    </button>
                  </form>
                </li>
            {% else %}
                <li class="nav-item"><a class="nav-link sign-in mx-1 mx-lg-2" href="{% url 'account_login'%}">Sign In</a></li>
                <li class="nav-item"><a class="nav-link sign-up ms-lg-2 me-lg-5" href="{% url 'account_signup' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>


    {% block content %}{% endblock %}

    <!-- Footer -->
    {% block footer %}{% endblock %}


     <!--Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>